pass.txt

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/venv

*.pyc
*.log

# we already submitted data compressed to 7z, we can skip bare csv files
*.csv